html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background:black;

    display:flex;
    justify-content:center;
    align-items:center;
}

#gameCanvas{

    width:960px;
    height:864px;

    image-rendering:pixelated;
    image-rendering:crisp-edges;

    background:black;
}
